---
title: "IRS Letter - ID Verification"
date: 2021-03-31
category: Work
cover: /images/a10c7f51f30749dd846fa928e51a1913.png
legacy_url: https://aicpasean.wixsite.com/mysite/post/irs-letter-id-verification
---

You may receive a letter from IRS asking for your ID verification **- 5071C** letter, **5747C** letter, **6331C** letter, or **5447C** letter. It is more likely than not that IRS, which processes the federal taxes, sends the letter to the first-time filers. Don't panic. It merely means IRS has successfully reviewed your annual tax return. In most cases, it also means that IRS is ready to issue your refund check. To simply put, you may be one of those first-filers.

You may ask your CPA to take care of corresponding with IRS on your behalf by paying the commission and signing on the POA(Power of Attorney) document. However, whether or not the CPA received the signed POA, it is considered as a fraudulent activity for the CPA to handle the ID verification under the guise of the client, which may result in the suspension or cancellation of the CPA license.

Having said that, the process is very straightforward as long as you have the previous year's Form 1040 for the sake of verification. These are three ways I recommend:

**(1)** [**Online verification**](https://www.irs.gov/identity-theft-fraud-scams/identity-verification)If not successful, move onto (2).

**(2) Calling to IRS at 800-829-0582(Ext. 623) or 800-829-1040 (Ext. 1 > 2 > 1 > 3 > 2 > 2 > 4)**

**(3) Visiting the local** [**IRS office**](https://apps.irs.gov/app/officeLocator/index.jsp) **with your previous year tax document and photo ID**

The IRS agent perhaps asks a few pieces of additional private information such as the place of birth, your parent's name, and the first date entering this country. Save your commission and be knowledgeable about your recurring tax work.

![](/images/a10c7f51f30749dd846fa928e51a1913.png)
